    <SharedPrinter clsid="{9A5E9697-9095-436d-A0EE-4D128FDFBCE5}" name="@@PRINTER@@" status="@@PRINTER@@" image="2" changed="2018-08-21 08:39:31" uid="{78F5691A-5B51-49E2-80F5-6ABAC229BAD1}" bypassErrors="1">
        <Properties action="U" comment="" path="\\@@PRINTSERVER@@\@@PRINTER@@" location="" default="0" skipLocal="0" deleteAll="0" persistent="0" deleteMaps="0" port=""/>
        <Filters>
            <FilterGroup bool="AND" not="0" name="@@LINUXMUSTER@@\@@PRINTER_LOWERCASE@@" sid="@@PRINTER_SID@@" userContext="1" primaryGroup="0" localGroup="0"/>
            <FilterGroup bool="OR"  not="0" name="@@LINUXMUSTER@@\@@PRINTER_LOWERCASE@@" sid="@@PRINTER_SID@@" userContext="0" primaryGroup="0" localGroup="0"/>
        </Filters>
    </SharedPrinter>
