REVISION:1
CONTROL:SR|DP
OWNER:BUILTIN\Administrators
GROUP:@@WORKGROUP@@\Domain Users
ACL:@@WORKGROUP@@\@@GROUP@@:ALLOWED/OI|CI/FULL
ACL:@@WORKGROUP@@\@@SCHOOLPREFIX@@teachers:ALLOWED/OI|CI/FULL
ACL:@@WORKGROUP@@\@@SCHOOLPREFIX@@admins:ALLOWED/OI|CI|I/FULL
