REVISION:1
CONTROL:SR|SI|DI|DP
OWNER:@@WORKGROUP@@\@@USER@@
GROUP:@@WORKGROUP@@\Domain Users
ACL:@@WORKGROUP@@\@@USER@@:ALLOWED/0x0/READ
ACL:@@WORKGROUP@@\@@USER@@:ALLOWED/OI|CI|IO/FULL
ACL:@@WORKGROUP@@\@@SCHOOLPREFIX@@teachers:ALLOWED/OI|CI|IO/FULL
ACL:@@WORKGROUP@@\@@SCHOOLPREFIX@@admins:ALLOWED/OI|CI|I/FULL
ACL:@@WORKGROUP@@\Domain Admins:ALLOWED/OI|CI|I/FULL
