REVISION:1
CONTROL:SR|PD|SI|DI|DP
OWNER:BUILTIN\Administrators
GROUP:@@WORKGROUP@@\Domain Users
ACL:@@WORKGROUP@@\@@USER@@:ALLOWED/0x0/RWX
ACL:@@WORKGROUP@@\@@USER@@:ALLOWED/OI|CI|IO/FULL
ACL:@@WORKGROUP@@\@@SCHOOLPREFIX@@admins:ALLOWED/OI|CI/FULL
ACL:@@WORKGROUP@@\@@SCHOOLPREFIX@@teachers:ALLOWED/0x0/RWX
ACL:@@WORKGROUP@@\@@SCHOOLPREFIX@@teachers:ALLOWED/OI|CI|IO/FULL

