REVISION:1
CONTROL:SR|SI|DI|DP
OWNER:BUILTIN\Administrators
GROUP:@@WORKGROUP@@\Domain Users
ACL:@@WORKGROUP@@\@@GROUP@@:ALLOWED/0x0/RWX
ACL:@@WORKGROUP@@\@@GROUP@@:ALLOWED/OI|CI|IO/FULL
ACL:@@WORKGROUP@@\global-admins:ALLOWED/OI|CI|I/FULL