REVISION:1
CONTROL:SR|PD|SI|DI|DP
OWNER:@@WORKGROUP@@\Domain Admins
GROUP:@@WORKGROUP@@\Domain Users
ACL:@@WORKGROUP@@\global-students:ALLOWED/0x0/READ
ACL:@@WORKGROUP@@\global-admins:ALLOWED/OI|CI/FULL
ACL:@@WORKGROUP@@\global-teachers:ALLOWED/0x0/READ
ACL:@@WORKGROUP@@\Domain Admins:ALLOWED/OI|CI|I/FULL
