REVISION:1
#CONTROL:SR|DP
OWNER:@@WORKGROUP@@\Administrator
GROUP:S-1-22-2-0
ACL:@@WORKGROUP@@\Administrator:ALLOWED/0x0/FULL
ACL:S-1-22-2-0:ALLOWED/0x0/READ
ACL:EVERYONE:ALLOWED/0x0/READ
ACL:CREATOR OWNER:ALLOWED/OI|CI|IO/FULL
ACL:CREATOR GROUP:ALLOWED/OI|CI|IO/READ
ACL:EVERYONE:ALLOWED/OI|CI|IO/READ
