REVISION:1
CONTROL:SR|SI|DI|DP
OWNER:BUILTIN\Administrators
GROUP:@@WORKGROUP@@\Domain Users
ACL:@@WORKGROUP@@\@@SCHOOLPREFIX@@students:ALLOWED/0x0/READ
ACL:@@WORKGROUP@@\@@SCHOOLPREFIX@@teachers:ALLOWED/0x0/READ
ACL:@@WORKGROUP@@\@@SCHOOLPREFIX@@admins:ALLOWED/OI|CI|I/CHANGE
ACL:@@WORKGROUP@@\global-admins:ALLOWED/OI|CI|I/FULL
ACL:@@WORKGROUP@@\Administrator:ALLOWED/OI|CI|I/FULL
