REVISION:1
CONTROL:SR|PD|SI|DI|DP
OWNER:BUILTIN\Administrators
GROUP:@@WORKGROUP@@\Domain Users
ACL:@@WORKGROUP@@\@@SCHOOLPREFIX@@admins:ALLOWED/0x0/READ
ACL:@@WORKGROUP@@\Domain Admins:ALLOWED/OI|CI/FULL
