REVISION:1
CONTROL:SR|PD|SI|DI|DP
OWNER:@@WORKGROUP@@\Domain Admins
GROUP:@@WORKGROUP@@\Domain Users
ACL:@@WORKGROUP@@\@@SCHOOLPREFIX@@students:ALLOWED/0x0/READ
ACL:@@WORKGROUP@@\@@SCHOOLPREFIX@@teachers:ALLOWED/0x0/READ
ACL:@@WORKGROUP@@\@@SCHOOLPREFIX@@admins:ALLOWED/OI|CI/FULL
ACL:@@WORKGROUP@@\Domain Admins:ALLOWED/OI|CI|I/FULL
