REVISION:1
CONTROL:SR|SI|DI|DP
OWNER:@@WORKGROUP@@\Domain Admins
GROUP:@@WORKGROUP@@\Domain Users
ACL:@@WORKGROUP@@\@@USER@@:ALLOWED/OI|CI/FULL
ACL:@@WORKGROUP@@\global-admins:ALLOWED/OI|CI|I/FULL
ACL:@@WORKGROUP@@\Domain Admins:ALLOWED/OI|CI|I/FULL
