REVISION:1
CONTROL:SR|SI|DI|DP
OWNER:@@WORKGROUP@@\Domain Admins
GROUP:@@WORKGROUP@@\Domain Users
ACL:@@WORKGROUP@@\@@SCHOOLPREFIX@@teachers:ALLOWED/0x0/RWX
ACL:@@WORKGROUP@@\@@SCHOOLPREFIX@@teachers:ALLOWED/OI|CI|IO/FULL
ACL:@@WORKGROUP@@\@@SCHOOLPREFIX@@admins:ALLOWED/OI|CI|I/FULL
ACL:@@WORKGROUP@@\@@SCHOOLPREFIX@@students:ALLOWED/OI|CI/READ
ACL:@@WORKGROUP@@\Domain Admins:ALLOWED/OI|CI|I/FULL
